@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: 1.5rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    0% {
        background-color: hsl(200, 20%, 95%);
    }
}

.disable-scroll {
    overflow: hidden;
}

strong {
    color: #ffc107;
    text-decoration: underline;
}

.active {
    color: #ffc107 !important;
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

#hamburgerButton {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.inner-line,
.inner-line::before,
.inner-line::after {
    height: 3px;
    background-color: #ffc107;
    transform-origin: 3px 1px;
    border-radius: 3px;
    transition: 300ms ease-in-out;
}

.inner-line {
    width: 30px;
}

.inner-line::before,
.inner-line::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
}

.inner-line::before {
    top: 0;
    width: 38px;
}

.inner-line::after {
    bottom: 0;
    width: 22px;
}

.navbar-brand {
    color: rgb(4, 52, 76) !important;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-brand img {
    width: 40px;
}

.custom:not(.active):hover {
    color: #ffc107 !important;
}

@media screen and (min-width: 993px) {
    #hamburgerButton {
        display: none;
    }
    .custom:not(.active),
    .navbar-brand {
        color: rgb(4, 52, 76) !important;
    }
}

@media screen and (max-width: 992px) {
    .slide {
        transform: translatex(100%);
    }
    .open {
        width: 0;
    }
    .open::before {
        content: "";
        transform: rotate(45deg);
        width: 36px;
    }
    .open::after {
        content: "";
        transform: rotate(-45deg);
        width: 36px;
    }
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: -80vw;
        padding: 2.5rem;
        width: 80vw;
        height: 100vh;
        transition: 300ms ease-in-out;
        background-color: #fff;
        z-index: 1;
    }
    .custom:not(.active) {
        color: rgb(4, 52, 76) !important;
    }
}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.hero .container {
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 52, 76, 0.6);
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
}

.cta h1,
.cta p,
.cta a {
    color: #fff;
}

.cta p {
    font-weight: 400;
    font-size: 1.125rem;
}

.btn-warning {
    color: rgb(4, 52, 76) !important;
    font-weight: 500;
}

.btn-outline-light:hover {
    color: rgb(4, 52, 76) !important;
}

@media screen and (max-width: 992px) {
    .hero .row {
        text-align: center;
    }
    .hero .row h1,
    .hero .row p {
        line-height: 1.3;
    }
    .hero {
        height: 80vh;
    }
    .buttons {
        margin-top: 1, 5625rem;
    }
}

@media screen and (min-width: 992px) {
    .hero .container .row {
        width: 50%;
    }
    .hero {
        height: 90vh;
    }
}

#aboutUs {
    background-color: #fff;
}

#aboutUs h2,
#aboutUs p,
#ourServicesHome h2,
#ourServicesHome p {
    color: rgb(4, 52, 76);
}

main h2 {
    font-weight: 600;
}

.custom-border-radius {
    border-radius: 10px 50px 10px 50px;
    width: 100%;
}

.custom-border-radius-2 {
    border-radius: 50px 10px 50px 10px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .custom-border-radius {
        border-radius: 10px 80px 10px 80px;
    }
    .custom-border-radius-2 {
        border-radius: 80px 10px 80px 10px;
    }
}

hr {
    height: 3px;
    opacity: 1;
    background-color: #ffc107;
}

#ourServicesHome img {
    width: 100px;
}

.card {
    border: 1px solid rgb(4, 52, 76);
}

main h3 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.desc {
    font-size: 0.825rem;
    text-align: justify;
    font-weight: 400;
}


/* style for about us section */

#aboutUsHeader p {
    padding: 10px 0;
}

#aboutUsHeader p,
#whyWorkWithUs p {
    line-height: 30px;
}

#aboutUsHeader h1,
#aboutUsHeader p {
    margin: 0;
}

.p-60 {
    padding: 2.5rem 0;
}

@media screen and (min-width: 992px) {
    .p-60 {
        padding: 3.75rem 0;
    }
}


/* ourTeam style */

#ourTeam .profile-img {
    width: 100%;
}

#ourTeam .social a {
    margin-right: 0.9375rem;
    text-decoration: none;
}

#ourTeam .social img {
    width: 20px;
}

#ourTeam h4,
#ourTeam p {
    margin: 0;
}

#ourTeam h4 {
    font-size: 1.25rem;
    line-height: 30px;
}

#ourTeam p {
    font-size: 0.9375rem;
}

main h1,
h2,
h3,
h4,
p,
a {
    color: rgb(4, 52, 76);
}

#ourServicesHome .card {
    height: 200px;
    transition: 200ms ease-out;
    cursor: pointer;
}

#ourServicesHome .card:hover {
    box-shadow: 1px 1px 6px gray;
}

a {
    text-decoration: none;
}

.illustration {
    width: 100px;
}

.service-item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
    transition: 150ms ease-out;
}

#contactUs .container {
    border-top: 3px solid #ffc107;
}

footer {
    background-color: rgb(4, 52, 76);
}

footer h3,
footer h4,
footer a,
footer p {
    color: #fff;
}

footer h3 {
    font-size: 1.5rem;
}

footer h4,
footer a,
footer p {
    font-size: 0.825rem;
}

footer a:hover {
    color: #ffc107;
}

@media screen and (max-width: 992px) {
    .office-information {
        border-bottom: 2px solid #ffc107;
    }
}

@media screen and (min-width: 993px) {
    .office-information {
        border-right: 2px solid #ffc107;
    }
}